set protocols oam ethernet link-fault-management interface {{ interface.port }} apply-action-profile UDLD
set protocols oam ethernet link-fault-management interface {{ interface.port }} pdu-interval 500
set protocols oam ethernet link-fault-management interface {{ interface.port }} link-discovery active
set protocols oam ethernet link-fault-management interface {{ interface.port }} pdu-threshold 4