set interfaces {{ interface.port }} ether-options no-auto-negotiation
set interfaces {{ interface.port }} ether-options link-mode full-duplex
set interfaces {{ interface.port }} ether-options speed 100m