set class-of-service interfaces {{ interface.port }} scheduler-map {{ interface.schedulermap }}
set class-of-service interfaces {{ interface.port }} unit 0 rewrite-rules dscp {{ interface.rewriter }}
