{% include "aPortDescription.j2" %}
{% include "aPortNoTraps.j2" %}
{% include "aPortLinkAuto.j2" %}
{% include "aPortAccess.j2" %}
{% include "aPortEdge.j2" %}
{% include "aPortStorm.j2" %}
{% include "aPortLLDP.j2" %}
{% include "aPortDHCPnoTrust.j2" %}
