{% include "aPortDescription.j2" %}
{% include "aPortLinkFD1G.j2" %}
{% include "aPortTrunk.j2" %}
{% include "aPortLLDP.j2" %}
{% include "aPortDHCPTrust.j2" %}
{% include "aPortOAM.j2" %}
{% include "aPortQosTrL2.j2" %}
