set ethernet-switching-options voip interface {{ port }} vlan {{ vlan }}
set ethernet-switching-options voip interface {{ port }} forwarding-class {{ class }}
set class-of-service interfaces {{ port }} unit 0 classifiers dscp {{ classifier }}
set ethernet-switching-options secure-access-port interface {{ port }} voip-mac-exclusive